form {
	margin: $base-line-height 0;

	p.radio {
		@include cols(1, 3);
		display: inline-block;

		label {
			text-align: center;
		}

		input {
			margin-left: 50%;
		}
	}

	> div {
		margin-bottom: $base-line-height;

		label {
			display: block;
			line-height: $base-line-height;
		}

		input, textarea {
			border: solid 1px $color-text;
			display: inline-block;
			font-family: $primary-font;
			font-size: $base-font-size;
			height: $base-line-height;
			line-height: $base-line-height;
			margin: 0;
			padding: 0 .25rem;
			vertical-align: top;
			width: 100%;

			&:focus {
				border: solid 1px $color-background;
			}
		}

		textarea {
			border: solid 1px $color-text;
			display: inline-block;
			height: 5 * $base-line-height;
			line-height: $base-line-height;
			padding: 0 .25rem;
			vertical-align:top;
		}

		.select-styler {
			height: $base-line-height;
			position: relative; // because we're going to absolutely style select on top of it
			width: 100%;


			span {
				border: solid 1px $color-text;
				display: block;
				height: $base-line-height;
				padding: 0 .25rem;
				vertical-align: top;
				position: relative;
				z-index: 0;
				width: 100%;

				&:after {
					border-top: .25 * $base-line-height solid $color-text;
					border-left: .25 * $base-line-height solid transparent;
					border-right: .25 * $base-line-height solid transparent;
					content: '';
					height: 0;
					position: absolute;
					right: .25 * $base-line-height;
					top: .25 * $base-line-height;
					width: 0;
				}
			}

			select {
				display: block;
				height: $base-line-height;
				left: 0;
				opacity: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}

		}
	}
}
