//
// Header Styles
//

// Default Styles

[role=banner] {
	@include container;

	h1 {
		margin: 0;
		padding: 3rem;
		text-align: center;
		width: 100% !important;

		@include breakpoint(desktop) {
			@include cols(1, 4);
		}

		span {
			display: none;

			@include breakpoint(desktop) {
				display: inline;
			}
		}

		svg {
			display: inline-block;
			height: 4 * $base-line-height;
			width: auto;

			&:hover {
				cursor: pointer;
			}
		}
	}
}
