[role=content] {
	@include container;

	aside {
		@include cols(1,1);

		background-color: $off-white;

		@include breakpoint(desktop) {
			@include cols(1,4);
		}

		label {
			@include breakpoint(desktop) {
				display: none;
			}
		}

		[type=checkbox] {
			display: none;

			~ nav {
				display: none;

				@include breakpoint(desktop) {
					display: block;

					div {
						text-align: left !important;
						padding: 1rem;
					}
				}

				a {
					color: $black;
					display: block;
				    opacity: 1;
				    padding: 1.5rem;
				    text-align: center;
				    transition: all 0.8s ease 0s;

				    &:hover {
				    	background-color: #F9E4C5;
			      		opacity: 0.75;
			      		cursor: pointer;
				    }
				}
			}

			&:checked {
				~ nav {
					display: block;
				}
			}
		}
	}


	main {
		display: inline-block;
		border: solid 4px $off-white;

		@include breakpoint(desktop) {
			@include cols(3,4);
		}

		section {
			display: none;
			padding: $base-font-size;
		}

		img {
			@include breakpoint(desktop) {
				@include cols(2, 4)
			}

			margin-bottom: $base-font-size;
			max-width: 100%;
			opacity: 0.6;
			display: inline-block;
		}
	}
}

