/////    TYPOGRAPHY     /////
@import url(https://fonts.googleapis.com/css?family=Poiret+One|Montserrat:400,700);

//
// BASE STYLES
//

html, body {
	background: $color-background;
	color: $color-text;
	font-family: $primary-font;
	font-size: $base-font-size;
	line-height: $base-line-height;
	margin: 0;
	min-height: 100%;
	padding: 0;
}

body {
	// opacity: 0;

	&.loaded {
		transition: opacity 0.25s;
		opacity: 1;
	}

	// use this for visualizing vertical rhythm

	// &:hover {
	// 	background-image: url(http://basehold.it/i/24);
	// }

}

main, wrapper {
	display: block;
}

ul, ol, dl, pre {
	margin: $base-line-height 0;
}

h1, h2, h3, h4, h5 {
	font-family: $secondary-font;
}

h1 {
	@include font-size(3, 2, 1);
	width: 100%;
}

h2 {
	@include font-size(2, 2, 1);
}

h3 {
	@include font-size(1, 1, 1);
}

h4 {
	@include font-size(1, 1, 1);
}

p {
	@include font-size(1, 1, 1);
}

a {
	color: $color-link;
	text-decoration:none;

	&:hover {
	}
}

img {
	height: auto;
	max-width: 100%;
}

button {
	border: solid 1px $color-text;
	cursor: pointer;
	height: $base-line-height;
	line-height: $base-line-height;
	padding: 0 .25rem;
}
