/////     GLOBAL DEFAULTS     /////

$ratio : 1.5;
$base-font-size : 1rem;
$base-line-height :$base-font-size * $ratio;


/////     GRID     /////

// responsive breakpoints

$breakpoints : (
	mobile 4,
	mobile-wide 6,
	tablet 8,
	desktop 12
);

// Column Measurements
$grid-column-width 		: 3 * $base-line-height;
$grid-gutter			: $base-line-height;
$grid-padding			: 0;
$grid-type				: magic; // fluid or magic

/////     Fonts     /////
$primary-font			: 'Poiret One', cursive;
$secondary-font			: 'Montserrat', sans-serif;

/////     Colour     /////
$orange					: #BD7F3C;
$black					: #202942;
$off-white				: #F2F2F2;
$white          		: #FFFFFF;

$color-text 			: $black;
$color-background  		: $white;
$color-link 			: $orange;
